<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <title id="head-title">(⌐⊙_⊙)</title>
    <link rel="icon" type="image/x-icon" href='{{ url_for("static", filename="favicon.ico") }}'>
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="css/style.css") }}'
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
      #navbar {
        position: sticky;
        top: 0;
        overflow: hidden;
        
      }
    </style>

  </head>
  <body>
    <div id="navbar">
      <div id="title-bar-div2" class="title-bar">
        <a id="home-link" >Version 0.55</a>
        <h1 id="title">Digi-Harbinger</h1>
      </div>
    
      
      <div class="tab">
        <button
          class="tablinks active"
          onclick="openTab(event, 'CC US')"
          id="defaultOpen"
        >
          CertCentral US
        </button>
        <button class="tablinks" onclick="openTab(event, 'CC EU')">
          CertCentral EU
        </button>
        <button class="tablinks" onclick="openTab(event, 'CIS')">
          CIS
        </button>
		    <button class="tablinks" onclick="openTab(event, 'CSR/Key')">
          CSR/Key
        </button>
        <button class="tablinks" onclick="openTab(event, 'Reports')">
          Reports
        </button>
        <button class="tablinks" onclick="openTab(event, 'TLS Check')">
          TLS Check
        </button>
        <button class="tablinks" onclick="openTab(event, 'Settings')">
          Settings
        </button>
      </div>
    </div>
    
    <div class="main">
      <div id="CC US" class="tabcontent">
        <!-- US MAIN HUD -->
        <div class="main-hud-container">
          <div class="hud-grid">
            <div class="sub-grid">
              {% if status_verified %}
              <label id="status"
                >Status:
                <span class="success-status">Connected</span>
              </label>
              {% else %}

              <label
                >Status:
                <span class="fail-status">Not Connected</span>
              </label>
              {% endif %}
            </div>
            <div class="sub-grid" id="org_select_container">
              <label for="org_dropdown">Current Org:</label>
              <select id="org_dropdown" name="org_dropdown">
                {% for org in org_ids %} {% if org is none %} {% else %}
                <option value="{{ org['org_id'] if org else '' }}">
                  {{ org["org_id"] }} : {{ org["org_name"] }}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <!-- US TEST CONTAINER -->
        <div class="main-test-container">
          <form id="testForm">
            <h2>Select Tests to Run</h2>
            <div class="grid">
              {% for key, value in test_functions.items() %}

              <div class="summary form__group" id="{{ key }}">
                <fieldset>
                  <legend>{{ key }}.py</legend>
                  <div class="summary__data">
                    {% for test in value %}
                    <label>
                      <input
                        type="checkbox"
                        name="test"
                        value="{{ test }}"
                        id="{{ test }}"
                        data-group="{{ key }}"
                      />
                      {{ test }}
                    </label>
                    <br />
                    {% endfor %}
                    <br />
                    <br />
                  </div>
                </fieldset>
              </div>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="summary" id="bottom">
          <label> <input type="checkbox" id="selectAll" /> Select All </label>
          <br />
          <br />
          <button type="button" onclick="runTestsUS()">Run Selected Tests</button>
        </div>
        <br />
        <br />
      </div>

      <!-- EU MAIN HUD -->
      <div id="CC EU" class="tabcontent" style="display:none">
        <div class="main-hud-container">
          <div class="hud-grid">
            <div class="sub-grid">
              {% if eu_status_verified %}
              <label id="eu_status"
                >Status:
                <span class="success-status">Connected</span>
              </label>
              {% else %}
              <label
                >Status:
                <span class="fail-status">Not Connected</span>
              </label>
              {% endif %}
            </div>
            <div class="sub-grid" id="eu_org_select_container">
              <label for="eu_org_dropdown">Current Org:</label>
              <select id="eu_org_dropdown" name="eu_org_dropdown">
                {% for org in eu_org_ids %} {% if org is none %} {% else %}
                <option value="{{ org['org_id'] if org else '' }}">
                  {{ org["org_id"] }} : {{ org["org_name"] }}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
          </div>
        </div>


        <!-- EU TEST CONTAINER -->
        <div class="main-test-container">
          <form id="eu_testForm">
            <h2>Select Tests to Run</h2>
            <div class="grid">
              {% for key, value in test_functions.items() %}
              <div class="summary form__group" id="eu_{{ key }}">
                <fieldset>
                  <legend>{{ key }}.py</legend>
                  <div class="summary__data">
                    {% for test in value %}
                    <label>
                      <input
                        type="checkbox"
                        name="eu_test"
                        value="{{ test }}"
                        id="eu_{{ test }}"
                        data-group="eu_{{ key }}"
                      />
                      {{ test }}
                    </label>
                    <br />
                    {% endfor %}
                    <br />
                    <br />
                  </div>
                </fieldset>
              </div>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="summary" id="eu_bottom">
          <label> <input type="checkbox" id="eu_selectAll" /> Select All </label>
          <br />
          <br />
          <button type="button" onclick="runTestsEU()">Run Selected Tests</button>
        </div>
        <br />
        <br />
      </div>

      <!-- CIS API Tab -->
      <div id="CIS" class="tabcontent" style="display:none">
        <div class="main-hud-container">
          <div class="hud-grid">
            <div class="sub-grid">
              {% if cis_status_verified %}
              <label id="cis_status"
                >CIS Domain Status:
                <span class="success-status">Connected</span>
              </label>
              {% else %}
              <label
                >CIS Domain Status::
                <span class="fail-status">Not Connected</span>
              </label>
              {% endif %}
            </div>
            <div class="sub-grid">
              {% if cis_validation_status_verified %}
              <label id="cis_validation_status"
                >CIS Validation Status:
                <span class="success-status">Connected</span>
              </label>
              {% else %}
              <label
                >CIS Validation Status:
                <span class="fail-status">Not Connected</span>
              </label>
              {% endif %}
            </div>
          </div>
        </div>
      
        <!-- CIS TEST CONTAINER -->
        <div class="main-test-container">
          <form id="cis_testForm">
            <h2>Select Tests to Run</h2>
            <div class="grid">
              {% for key, value in cis_test_functions.items() %}
              <div class="summary form__group" id="cis_{{ key }}">
                <fieldset>
                  <legend>{{ key }}.py</legend>
                  <div class="summary__data">
                    {% for test in value %}
                    <label>
                      <input
                        type="checkbox"
                        name="cis_test"
                        value="{{ test }}"
                        id="cis_{{ test }}"
                        data-group="cis_{{ key }}"
                      />
                      {{ test }}
                    </label>
                    <br />
                    {% endfor %}
                    <br />
                    <br />
                  </div>
                </fieldset>
              </div>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="summary" id="cis_bottom">
          <label> <input type="checkbox" id="cis_selectAll" /> Select All </label>
          <br />
          <br />
          <button type="button" onclick="runTestsCIS()">Run Selected Tests</button>
        </div>
        <br />
        <br />
    </div>

      <!-- CSR Keygen Tab -->
	    <div id="CSR/Key" class="tabcontent" style="display:none">
        <div class="main-hud-container">
          <div class="hud-grid">
          </div>
        </div>
        <div class="main-test-container">
          <div class="csr-flex summary form__group">
          <div>
            <label>CSR</label></br>
            <textarea name="CSR" id="csr_result" cols="40" rows="25"></textarea></br>
          </div>
          <div>
            <label>KEY</label></br>
            <textarea name="KEY" id="key_result"  cols="40" rows="25"></textarea></br>
          </div>
          </div>
          <br>
          <button id="gen_keypair_button">Create CSR/Key</button>
          <br>
        </div>
      </div>

      <div id="Reports" class="tabcontent" style="display:none">
        <div class="main-hud-container">
          <div class="hud-grid">
          </div>
        </div>
        <ul id="file-list">
        </ul>
      </div>


      <div id="TLS Check" class="tabcontent">
        
          <div class="main-hud-container">
            <div class="hud-grid">
              <div class="main-test-container">
                <div class="csr-grid summary form__group">
                  <div class="sub-grid">
                          <form id="tls_check_form" onsubmit="event.preventDefault(); tlsChecker();">
                            <label for="tls_check_label">Domain Name:</label>
                            
                            <input
                             
                              id="tls_check_label_input"
                              name="tls_check_label"
                              placeholder="Enter a domain name"            
                              required
                            />
                            <button type="submit">Submit</button>
                          </form>
                          <br>
                      <br>
                    <br>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
        <div class="main-test-container">
          <div class="grid">
            <div class="certificate-report" id="tls_check_div">
              
          </div>
          </div>
        </div>
      </div>

      <!-- Settings Tab -->
      <div id="Settings" class="tabcontent" style="display:none">
        <div class="main-hud-container">
          <div class="hud-grid">
          </div>
        </div>
        <div class="main-test-container">
          <div class="csr-grid summary form__group">
            <div class="sub-grid">
                    <form id="api_key_eu_form">
                      <label for="api_key_eu">CertCentral EU API Key:</label>
                      {% if eu_status_verified %}
                      <span class="success-status"> Saved </span>
                      {% else %}
                      <span class="fail-status"> Not Saved </span>
                      {% endif %}
                      <br />
                      <input
                        type="password"
                        id="api_key_eu"
                        name="api_key_eu"
                        placeholder="Enter API Key"
                        value="{{ api_key if api_key else '' }}"
                        required
                      />
                      <button type="submit">Save</button>
                    </form>
                    <br>
                <br>
              <br>
            </div>
          </div>
          <br>
            <div class="csr-grid summary form__group">
              <div class="sub-grid">
                  <form id="api_key_us_form">
                    <label for="api_key_us">CertCentral US API Key:</label>
                    {% if status_verified %}
                    <span class="success-status"> Saved </span>
                    {% else %}
                    <span class="fail-status"> Not Saved </span>
                    {% endif %}
                    <br />
                    <input
                      type="password"
                      id="api_key_us"
                      name="api_key_us"
                      placeholder="Enter API Key"
                      value="{{ api_key if api_key else '' }}"
                      required
                    />
                    <button type="submit">Save</button>
                  </form>
                  <br>
                </div>
            </div>
            <br>
            <div class="csr-grid summary form__group">
              <div class="sub-grid">
                  <form id="api_key_cis_form">
                    <label for="api_key_cis">CIS API Key:</label>
                    {% if status_verified %}
                    <span class="success-status"> Saved </span>
                    {% else %}
                    <span class="fail-status"> Not Saved </span>
                    {% endif %}
                    <br />
                    <input
                      type="password"
                      id="api_key_cis"
                      name="api_key_cis"
                      placeholder="Enter API Key"
                      value="{{ api_key if api_key else '' }}"
                      required
                    />
                    <button type="submit">Save</button>
                  </form>
                  <br>
                </div>
            </div>
          </div>
        </div>
      </div>


      <!-- MODAL -->
        <div id="modalContainer">
          <div id="settingsModal" class="modal">
            <!-- MODAL CONTENT -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Settings</h2>
              </div>
              <div class="modal-body">
                <div class="modal-grid-container">
                  <div>
                    <form id="csrForm">
                      <label for="api_key">API Key:</label>
                      {% if status_verified %}

                      <span class="success-status"> Saved </span>
                      {% else %}

                      <span class="fail-status"> Not Saved </span>
                      {% endif %}

                      <br />
                      <br />
                      <input
                        type="password"
                        id="api_key"
                        name="api_key"
                        placeholder="Enter API Key"
                        value="{{ api_key if api_key else '' }}"
                        required
                      />
                      <button type="submit">Save</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
        <script
          type="text/javascript"
          src='{{ url_for("static", filename="test_main.js") }}'
        ></script>

  </body>
</html>
